.panel {
    .title {
        display: inline-block;
    }
    input.title {
        display: initial;
        width: 25%;
    }
    textarea.descr {
        width: 50%;
        display: block;
    }
    section {
        &>div {
            margin: 5px 0;
        }
    }
    .panel-heading {
        cursor: pointer;
    }
    .panel-body {
        transition: all 0.25s ease-in-out;
    }
}

step,
stepItem {
    display: block;
}