<div class="block" [@simpleFlag]="!step.SelectedFlag" (click)="openDetail()">
  <h1>{{step.Title}}</h1>
  <div class="count">{{step.DoneItemCount}}/{{step.TotalItemCount}}</div>
  <div class="water">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>
<div class="detail-block block" [@detailFlag]="step.SelectedFlag">
  <h1>{{step.Title}}</h1>
  <ul class="item-list">
    <li class="item" *ngFor="let item of step.ItemList">
      <div>
        <header class="header">
          {{item.Title}}
        </header>
        <session class="content">
          <span class="state">{{StateType[item.State]}}</span>
          <span class="date">{{item.PlanDueDay}}</span>
          <!--<a href="file:///\\192.168.100.21\ciMes 專案管理\專案導入\奇美材料\2016年升級5.0版\專案管理\奇材KickOffMeeting.pptx">檔案連結</a>-->
        </session>
      </div>
      <div class="buttons">
        <button class="btn btn-default" (click)="changeState(item)">狀態變更</button>
        <button class="btn btn-default" (click)="extendItem(item)">展延</button>
        <button class="btn btn-default" (click)="checkItem(item)">查核</button>
        <button class="btn btn-default" (click)="updateItemFilePath(item)">檔案上傳</button>
      </div>
      <hr>
    </li>
  </ul>
</div>
<modal #changeStateModal (onClose)="closedChangeState()">
  <modal-header>
    <h4 class="modal-title">狀態變更</h4>
  </modal-header>
  <modal-body>
    <div class="form-group">
      <label for="title">狀態:</label>
      <label class="radio-inline" *ngFor="let state of StateType | enumKeys:[StateType.DelayDone]">
			    <input type="radio" name="stateGroup" [(ngModel)]="SelectedItem.State" [value]="state">
                {{StateType[state]}}
            </label>
    </div>
    <div class="form-group">
      <label for="description">備註:</label>
      <textarea id="description" class="descr" [(ngModel)]="SelectedItem.Description" ngControl="Description"></textarea>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default" data-dismiss="SelectedItem" (click)="changeStateModal.dismiss()">取消</button>
    <button class="btn btn-default" (click)="changeStateModal.close()">確定</button>
  </modal-footer>
</modal>
<modal #extendItemModal (onClose)="closedExtendItem()">
  <modal-header>
    <h4 class="modal-title">展延</h4>
  </modal-header>
  <modal-body>
    <div class="form-group">
      <label for="title">日期:</label>
      <input type="text" [(ngModel)]="SelectedItem.PlanDueDay">
    </div>
    <div class="form-group">
      <label for="description">備註:</label>
      <textarea id="description" class="descr" [(ngModel)]="SelectedItem.Description" ngControl="Description"></textarea>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default" data-dismiss="SelectedItem" (click)="extendItemModal.dismiss()">取消</button>
    <button class="btn btn-default" (click)="extendItemModal.close()">確定</button>
  </modal-footer>
</modal>
