
  <!--accordion-->
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
        專案規劃階段
        <span>+</span>
        <button>不查核</button>
      </h3>
      </div>
      <div class="panel-body list-group">
        <div class="list-group-item">
          <div class="title">PM 是否已了解合約內容</div>
          <input type="date">
          <button>不查核</button>
          <div class="descr">預計完成日與 KickOff 預計完成日相同</div>
        </div>
        <div class="list-group-item">
          <div class="title">kickoff 簡報</div>
          <div class="descr"></div>
        </div>
        <div class="list-group-item">
          <input type="text" placeholder="title" class="title">
          <textarea placeholder="description" class="descr"></textarea>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
      訪談
        <span>+</span>
      </h3>
      </div>
      <div class="panel-body list-group">
        <div class="list-group-item">
          <div class="title">差異分析文件(SA)</div>
          <div class="descr"></div>
        </div>
        <div class="list-group-item">
          <div class="title">訪談會議記錄</div>
          <div class="descr">在差異分析文件未出之前，需每周確認是否有會議記錄產生。</div>
        </div>
        <div class="list-group-item">
          <input type="text" placeholder="title" class="title">
          <textarea placeholder="description" class="descr"></textarea>
        </div>
      </div>
    </div>
  </div>